* {
    margin: 0;
    padding: 0;
}
body {
    background-size: 100%;
    background-image: url(./img/pexels-sheena-wood-574115.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
h1 {
    color: blue;
}
p {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 1.6em;
    color: blue;
}